* {
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700,900&display=swap');

$family-sans-serif: 'Montserrat',
sans-serif;
$primary: yellow;

:root {
    --primary: #{$primary};
}




@import "../node_modules/bulma/bulma.sass";


section {
    padding: 60px 30px;
    color: black;
}

.video-section {

    .column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    button {
        font-weight: 600;
        background: var(--primary);
        border: 3px solid black;
        border-radius: 15px;
        color: black;
        font-weight: 900;
    }
}

.membresias {
    
    &__membresia{

        h2 {
            font-weight: 600;
        }
    
        h3, p span{
            width: 60%;
            display: block;
            background-color: var(--primary);
            margin: auto;
            color: black;
        }

        h3{
            text-align: left;
            padding-left: 15px;
            font-size: 40px;
            margin-bottom: 0!important;
            border-radius: 5px 5px 0 0;
            padding-top: 10px;
        }

        p{
            font-size: 30px;
            &:nth-of-type(2){
             font-size: 20px;   
            }
            span{
                text-align: center;
                font-size: 65px;
                border-radius: 0 0 5px 5px;
                font-weight: 700;
            }

            b{
                display: block;
                font-weight: 900;
                margin-top: -18px;
                margin-bottom: 15px;
            }
        }

        ul{
            li{
                font-weight: 600;
                &::before{
                    content: "-";
                }
            }
        }

    }
}

.gallery{
    padding-left: 0;
    padding-right: 0;
    h2{
        font-weight: 600;
        padding-left: 40px;
    }
    img{
        padding: 0;
    }
}